@model FEMS.Database.task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.task_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_started_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_started_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_state)
        </dt>

        <dd>
            @if (Model.task_state == 1)
            {
                @Html.DisplayName("To Do")
            }
            else
            {
                @Html.DisplayName("Done")
            }
        </dd>

        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.task_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
