@model FEMS.Database.employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_nic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_gender)
        </dt>

        <dd>
            @if (Model.emp_gender.Equals("1"))
            {
                @Html.DisplayName("Male")
            }
            else
            {
                @Html.DisplayName("Female")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_designation)
        </dt>

        <dd>
            @if (Model.emp_designation.Equals("1"))
            {
                @Html.DisplayName("Project Manager")
            }
            else if (Model.emp_designation.Equals("2"))
            {
                @Html.DisplayName("Engineering Manager")
            }
            else if (Model.emp_designation.Equals("3"))
            {
                @Html.DisplayName("Electrical Engineer")
            }
            else if (Model.emp_designation.Equals("4"))
            {
                @Html.DisplayName("Technical Engineer")
            }
            else if (Model.emp_designation.Equals("5"))
            {
                @Html.DisplayName("Assistant Electrical Engineer")
            }
            else if (Model.emp_designation.Equals("6"))
            {
                @Html.DisplayName("Assistant Technical Engineer")
            }
            else if (Model.emp_designation.Equals("7"))
            {
                @Html.DisplayName("Technician")
            }
            else if (Model.emp_designation.Equals("8"))
            {
                @Html.DisplayName("Operator")
            }
            else if (Model.emp_designation.Equals("9"))
            {
                @Html.DisplayName("Labour")
            }
            else
            {
                @Html.DisplayName("Foreman")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_work_started_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_work_started_date)
        </dd>
    </dl>
</div>

    @if (User.IsInRole("Admin"))
    { 
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.emp_id }) |        
        @Html.ActionLink("Back to List", "Index")
    </p>
    }

@if (User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}


